<div class="container">
  <br><br><br><br>
    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">{{(theme | async)?.titre}}
      <span style="font-weight: 100; font-size: 0.6em">par
          {{(theme | async)?.auteur}}
      </span>
    </h1>

    <div class="row">

      <!-- Post Content Column -->
      <div class="col-lg-8">
        <!-- Preview Image -->
        <img class="img-fluid rounded" src="{{(theme | async)?.urlimg}}" alt="">
        <hr>
        <!-- Date/Time -->
        <p>Posté le {{((theme | async)?.datepost) | date:'medium'}}</p>
        <hr> 
        <!-- Les parapgraphes du thème -->
        <p *ngFor="let t of (theme | async)?.tabcontenu">
          <!-- {{(theme | async)?.tabcontenu[0]}} -->
          {{t}}
        </p>

        <hr>
            
      </div>

      <!-- Sidebar Widgets Column -->
      <div class="col-lg-4 col-md-4">

        <h2 class="mt-5 text-center">Autres thèmes modfiables</h2>

        <!-- Side Widget: Les autres thèmes du forum -->
          <div *ngFor="let t of TabThemesFireBaseSnap">
            <div class="card my-4" *ngIf="t.id!=themeObjet.id">
              <h5 class="card-header p-0">
                <img class="img-fluid rounded" [src]="t.urlimg" alt="">
              </h5>
              <div class="card-body" style="font-size: 0.9em;">
                {{t.description}}
              </div>
              <button class="btn rnpcolor-btn btn-lg" (click)="sendThemeKey(t)">Modifier</button>
            </div>
          </div>

      </div>

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->
