<section id="contact-section" class="home-section full-back-color" [ngClass]="{'light-gray': backgroundGray}">
    <div class="container full-back-color">
      <div class="section-header text-center">
        <span class="text-muted" ><h1 class="mb-5 presilist-img pt-3 pb-3" style="border-style: inset;">Nous contacter</h1></span>      
      </div>

      <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
        <div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="wrap">
          <div fxFlex="100">
            <div class="pb-1">
              <mat-form-field class="full-width">
                <input matInput name="name" [formControl]="contactForm.controls['name']" placeholder="Prénom et nom" style="color: #e8551b !important;">
              </mat-form-field>
              <small *ngIf="contactForm.controls.name.touched && contactForm.controls.name.errors?.required" class="form-error-msg">Vos prénom et nom sont requis</small>
            </div>
            <div class="pb-1">
              <mat-form-field class="full-width">
                <input matInput name="email" [formControl]="contactForm.controls['email']">
                <mat-placeholder class="placeholder">Votre Email</mat-placeholder>
              </mat-form-field>
              <small *ngIf="contactForm.controls.email.touched && contactForm.controls.email.errors?.email" class="form-error-msg">Email invalide</small>
            </div>
  
          </div>
          <div fxFlex="100">
            <div class="pb-1">
              <mat-form-field class="full-width">
                <input matInput name="subject" [formControl]="contactForm.controls['subject']" placeholder="Sujet">
              </mat-form-field>
              <small *ngIf="contactForm.controls.subject.touched && contactForm.controls.subject.errors?.required" class="form-error-msg">Le sujet est requis</small>
            </div>
            <div class="pb-1">
              <mat-form-field class="full-width">
                <textarea matInput row="8" name="message" [formControl]="contactForm.controls['message']" placeholder="Message"></textarea>
              </mat-form-field>
              <small *ngIf="contactForm.controls.message.touched && contactForm.controls.message.errors?.required" class="form-error-msg">Le message est requis</small>
            </div>
          </div>
  
          <div fxFlex="100">
            <button mat-fab color="primary" [disabled]="!contactForm.valid"><mat-icon>send</mat-icon> </button>
          </div>
        </div>
      </form>

      <!-- Hidden Button  -->
      <button id="openModalButton" [hidden]="true" data-toggle="modal" data-target="#ModalMailSuccess">Open Modal</button>
      
      <!-- Modal EMAIL SUCCESS -->    
      <div class="modal fade " id="ModalMailSuccess" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header" style="background-color: #e8551b; color: whitesmoke;">
              <h5 class="modal-title" id="exampleModalLongTitle" style="margin: 0 auto;">Notification</h5>
            </div>
            <div class="modal-body text-center title-text">
              Votre message a été transmis avec succès
            </div>
          </div>
        </div>
      </div>
      <!-- END MODAL -->

    </div>
  </section>