/* .full-back-color {
    background-color:rgb(253, 244, 244);    
    height: 50%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
} */

.form-error-msg {
    color: #f44336;
    display: block;
    padding: 5px 0;
}

mat-form-field.mat-form-field {
    font-size: 20px;
  }

  /* CSS MODAL */
  .backdrop{ 

    background-color:rgba(0,0,0,0.6);
    
    position:fixed;
    
    top:0;
    
    left:0;
    
    width:100%;
    
    height:100vh;
    
    }
    
    
  
