    <!-- GARBAGE -->
      <!-- <div class="carousel-item active">
        <img class="photo-brightness" height="200px" src="../assets/img/img_carousel/adn_x.jpg" alt="">
        <div class="container">
          <div class="carousel-caption text-center mb-5">
            <h1 class="title-text" style="color: #e8551b; font-weight: 300!important;">Informations sur le VIH SIDA</h1>
            <h4 class="title-text">PRÈS DE 37 MILLIONS DE PERSONNES SONT ACTUELLEMENT INFECTÉES, DANS LE MONDE !</h4>
          </div>
        </div>
      </div> -->
      <!-- /div carousel --> 


    <!-- Image landing -->     
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="first-slide photo-brightness-80" src="../assets/img/img_carousel/adn_x.jpg" alt="First slide">
        <div class="container">
          <div class="carousel-caption text-center ">
            <h1 class="title-text" style="color: #e8551b;">Informations sur le VIH SIDA</h1>
            <h5 class="subtitle-text pb-4">Près de 37 millions de personnes sont actuellement infectées dans le monde !</h5>
            <!-- <p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p> -->
          </div>
        </div>
      </div>
    </div>

    <!-- DIV CONTENU DE LA PAGE -->
    <div class="container" style="margin-top: 130px;">

      <!-- Epidémiologie Content -->
      <div id='epid' class="row mt-5" style="padding-top:90px;">
        <div class="col-lg-6 order-lg-2 d-flex align-items-center p-4">
          <img class="presilist-img img-fluid rounded mb-4" src="../assets/img/vih_infos/epidemie2.jpg" alt="" style="border-style: inset;">
        </div>
        <div class="col-lg-6 order-lg-1">
          <h2>Epidémiologie</h2>
          <p>
            Le sida a été décrit pour la première fois en 1981. Cependant, grâce à des études rétrospectives sur des sérums zaïrois, la communauté scientifique a déduit que le virus était présent dès 1959 et s’était déjà répandu en Afrique entre 1970 et 1980.
          </p>
          <p>
            Il est possible que le VIH ait pu exister dans une population isolée avant de se disséminer en raison de l’urbanisation croissante du monde et de l’augmentation des flux de populations. Au moins trente espèces de singes africains (dont les chimpanzés, singes verts, mangabeys, mandrills et cercocèbes) sont naturellement infectées par des rétrovirus proches du VIH : ce sont les virus de l’immunodéficience simienne (SIV), mais qui ne provoquent pas de sida chez ces animaux.
          </p>
          <p>
            Un des deux virus humains, le VIH 2, est très proche du SIV du Mangabey qui vit en Afrique de l’Ouest. Des contaminations de l’homme à partir de morsures de ces singes auraient donc pu se produire. Quant au VIH 1, il aurait pu être transmis par des chimpanzés, dont certains au Cameroun ou au Gabon sont porteurs d’un SIV très proche du VIH 1. On ne sait pas estimer avec précision à quel moment ces virus ont pu franchir la barrière d’espèce.
          </p>
        </div>
      </div>
      <!-- /.row -->

      <hr class="featurette-divider" style="padding-top:90px; margin-top: 106px;">

        <!-- Suite epidémiologie -->
        <div class="row mt-1">
          <div class="col-lg-6 order-lg-2 d-flex align-items-center p-4">
            <img class=" presilist-img img-fluid rounded mb-4" src="../assets/img/vih_infos/epidemie1.jpg" alt="" style="border-style: outset;">
          </div>
          <div class="col-lg-6 order-lg-1">
            <span class="rnpcolor-text">Une diffusion rapide</span>
            <p>
              Le VIH a diffusé depuis 1981, année de la découverte de l’épidémie, de l’Afrique au continent nord-américain puis à l’Europe. Les homosexuels à partenaires multiples ont été les premiers touchés aux Etats-Unis. Puis l’épidémie a été révélée chez les transfusés, les hémophiles et les toxicomanes, démontrant que la voie sanguine était un important facteur de transmission du virus. En Asie, la maladie n’est apparue que vers 1986-87, d’abord en Thaïlande, puis dans les autres pays du Sud-Est Asiatique. La prostitution ainsi que la toxicomanie par voie intraveineuse ont joué un rôle important dans la diffusion de l’infection dans ces pays. Actuellement, le mode de transmission le plus important dans le monde entier est la voie hétérosexuelle. Selon les estimations, près de 37 millions de personnes sont actuellement infectées.
            </p>
          </div>
        </div>

      <hr id='trans' class="featurette-divider" style="padding-top:90px; margin-top: 106px;" >


      <!-- Transmission Content -->
      <div class="row mt-5">
        <div class="col-lg-6 p-4">
          <img class="presilist-img img-fluid rounded mb-4 " src="../assets/img/vih_infos/cause.jpg" alt="" style="border-style: outset;">
        </div>
        <div class="col-lg-6">
          <h2>Transmission</h2>
          <p>
            <span class="rnpcolor-text">VIH</span> désigne le <span class="rnpcolor-text">Virus de l’immunodéficience humaine</span>. Il est transmis par voie sexuelle, sanguine, et de la mère à l’enfant. Il cible les lymphocytes T, cellules essentielles au bon fonctionnement du système immunitaire. Sur le long terme, le VIH affaibli le système immunitaire et les personnes infectées développent de graves maladies. Ces maladies sont qualifiées de « maladies opportunistes » car elles sont causées par des micro-organismes inoffensifs pour les personnes dont le système immunitaire fonctionne normalement.
          </p>
          <p>
            Le syndrome de l’immunodéficience acquise (sida) est le dernier stade de l’infection par le VIH. Il correspond au développement d’une ou de plusieurs maladies opportunistes chez les personnes infectées.
          </p>
        </div>
      </div>
      <!-- /.row -->

      <hr id='symp' class="featurette-divider" style="padding-top:90px;margin-top: 106px;">

      <!-- Symptômes Content -->
      <div class="row mt-5">
          <div class="col-lg-6 order-lg-2 d-flex align-items-center p-4">
            <img class=" presilist-img img-fluid rounded" src="../assets/img/vih_infos/symptomes.jpg" alt="" style="border-style: groove;">
          </div>
          <div class="col-lg-6 order-lg-1">
            <h2>Symptômes</h2>
            <p>
              Le tableau clinique de l’infection par le VIH évolue selon les différents stades de la maladie. Dans un premier temps la personne infectée peut rester asymptomatique ou bien développer les symptômes d’une phase appelée primo-infection. Survenant après une période d’incubation de plusieurs semaines, la primo-infection est caractérisée par des signes cliniques analogues à ceux rencontrés en cas de grippe (forte fièvre, douleurs musculaires, maux de tête, diarrhée).
            </p>
            <p>
              Après la primo-infection débute une phase asymptomatique qui peut durer plusieurs années. Durant cette période, la présence du virus est plus discrète mais les personnes infectées restent contagieuses. Le VIH affaiblissant progressivement le système immunitaire, la maladie entraîne ensuite l’apparition d’autres symptômes : perte de poids, fièvre, infections de la peau, diarrhée et toux.
            </p>
            <p>
              Sans traitement, la maladie évolue vers le syndrome de l'immunodéficience acquise, dit sida, stade ultime de l’infection par le VIH. Cet état est marqué par l’apparition de maladies dites «opportunistes», car elles surviennent en raison du l’affaiblissement du système immunitaire provoqué par le VIH. Les malades développent alors de multiples infections d’origine bactérienne, fongique et parasitaire, ainsi que certains cancers.
            </p>
          </div>
        </div>
        <!-- /.row -->

        <hr id='trait' class="featurette-divider" style="padding-top:90px;margin-top: 106px;" >

        <!-- Traitement Content -->
        <div class="row mt-5">
          <div class="col-lg-6 d-flex align-items-center p-4">
            <img class=" presilist-img img-fluid rounded mb-4" src="../assets/img/vih_infos/traitement.jpg" alt=""  style="border-style: inset;">
          </div>
          <div class="col-lg-6">
            <h2>Traitement</h2>
            <p>
              Actuellement, aucun traitement ne permet d’éliminer complètement le VIH de l’organisme. Malgré l’absence de vaccin, des traitements adaptés permettent aux personnes séropositives de bloquer la multiplication du VIH dans leur organisme et ainsi de garder un système immunitaire opérationnel. Ces traitements sont appelés trithérapies ou multithérapies car ils combinent l’action de plusieurs molécules antirétrovirales. Il faut préciser que les antirétroviraux sont parfois responsables d’effets secondaires, parmi lesquels : nausées, vomissements, fatigue, perte d’appétit, fièvres, diarrhées, réactions cutanées.
            </p>
            <span class="rnpcolor-text">Une résistance au virus observée dans de rares cas</span>
            <p>
              Des personnes porteuses du VIH restent asymptomatiques à long terme (« long term survivors ») : après plus de dix ans d’infection, ceux-ci (qui représentent probablement 2 à 5% de la population) n’ont toujours pas développé un sida. Une infime partie des individus des populations caucasiennes (moins de 1%) est même résistante à l’infection par le VIH. Cette résistance est conférée grâce à une mutation survenue dans un des gènes du virus du sida, le gène du récepteur « CCR-5 » des lymphocytes. Les cas de couples paradoxaux, de certaines prostituées ou encore de certains enfants nés de mères infectées et résistants à l’infection sont à l’étude.
            </p>
          </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->