/* Declare heights because of positioning of img element */
.carousel-item {
    height: 35rem;
    background-color: #777;
  }
  .carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 35rem;
  }

  .card-footer {
    padding: 0px;
  }
  
/* Ombre sur image (reduire luminosité) */
.photo-brightness {
    filter: brightness(50%);
    -webkit-filter: brightness(50%);
}

/* Texte principale sur image bannière */
.title-text{
  font-size: 3rem;
  font-weight:400;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

p{
  text-align: justify;
}



/* -------------------------------------------RESPONSIVE TEXT -----------------------------------------*/
@media screen and (min-width: 601px) {
  h1.title-text {
  font-size: 3rem;
  }
}

/* If the screen size is 600px wide or less, set the font-size of <h1> to 30px */
@media screen and (max-width: 600px) {
  h1.title-text {
    font-size: 2rem;
  }
}

/* Pour les soustitres */
@media screen and (min-width: 601px) {
  h5.subtitle-text {
  font-weight: 300;
  font-size: 2.5rem;
  }
}

/* If the screen size is 600px wide or less, set the font-size of <h4> to 30px */
@media screen and (max-width: 600px) {
  h5.subtitle-text {
    font-size: 1.5rem;
    padding-bottom: 60px;
    font-weight: 100;
  }
}

/* --------------------------------- FIN RESPONSIVE TEXT-------------------------------------- */