
<!-- Image Principale Style jumbotron -->
<br><br>
<header class="jumbotron my-4 mt-4" style="background-color: #e8551b; color: whitesmoke; height: 350px;">
  <div class="mt-5">
    <h1 class="display-3 text-center ">Admin Panel</h1>
    <p class="lead text-center">Espace administrateur</p>
  </div>
</header>

<div class="container">
    <button type="button" class="btn rnpcolor-btn btn-lg btn-block mb-4" routerLink="/adminmedia">Admin Bibliothèque Mediathèque</button>
    <button type="button" class="btn btn-secondary btn-lg btn-block" routerLink="/adminprogrammes">Admin Programmes</button>
    <button type="button" class="btn rnpcolor-btn btn-lg btn-block mt-4" routerLink="/adminforum">Admin Forum</button>
</div>
<br>
