<!-- Page Content -->

<div class="container">
    <br><br><br><br>
      <!-- Page Heading/Breadcrumbs -->
      <h1 class="mt-4 mb-3">{{(theme | async)?.titre}}
        <span style="font-weight: 100; font-size: 0.6em">par
            {{(theme | async)?.auteur}}
        </span>
      </h1>
  
      <div class="row">
  
        <!-- Post Content Column -->
        <div class="col-lg-8">
          <!-- Preview Image -->
          <img class="img-fluid rounded" src="{{(theme | async)?.urlimg}}" alt="">
          <hr>
          <!-- Date/Time -->
          <p>Posté le {{((theme | async)?.datepost) | date:'medium'}}</p>
          <hr> 
          <!-- Les parapgraphes du thème -->
          <p *ngFor="let t of (theme | async)?.tabcontenu">
            <!-- {{(theme | async)?.tabcontenu[0]}} -->
            {{t}}
          </p>
  
          <hr>
  
          <!-- Comments Form -->
          <div class="card my-4">
            <h5 class="card-header">Laisser un commentaire:</h5>
            <div class="card-body">
              
              <form #commentaireForm="ngForm" (ngSubmit)="onSubmit(commentaireForm)">
                  <!-- <input type="hidden" name="$key" #$key="ngModel" [(ngModel)]="themeFbService.selectedTheme.$key"> -->
                <div class="form-group">
                  <input class="form-control" name="pseudo" #pseudo="ngModel" [(ngModel)]="commentairePrincipal.pseudo" placeholder="Pseudo" required [disabled]="pseudoDone">
                </div>
                <div class="form-group">
                  <textarea id="message" class="form-control" name="message" #message="ngModel" [(ngModel)]="commentairePrincipal.message" placeholder="Message" rows="3" required></textarea>
                </div>
                <div class="form-group">
                  <button class="btn rnpcolor-btn btn-lg" type="submit" [disabled]="!commentaireForm.valid">
                    Poster
                  </button>
                </div>
              </form>
  
            </div>
          </div>

          <!-- Comment with nested comments -->
          <div class="media mb-4" *ngFor="let com of (theme | async)?.tabCommentaires">
            <!-- Commentaire Principal -->
            <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
            <div class="media-body">
              <h5 class="mt-0">{{com.pseudo}} 
                <button class="btn rnpcolor-btn ml-btn-com" (click)="collapseRepondre(com)">Répondre</button>
              </h5>
              {{com.contenu}} <br>
              <span style="font-size: 15px;color: #e8551b;">{{com.date | date:'medium'}}</span>
            
              
              <!-- Commentaire secondaire (réponse) *ngIf="(com.tabReponses[0] | async)" -->
              <div class="media mt-4" *ngFor="let reponse of com.tabReponses">
                <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
                <div class="media-body">
                  <h5 class="mt-0">{{reponse.pseudo}}</h5>
                  {{reponse.contenu}}
                  <div class="mt-2" style="font-size: 15px;color: #e8551b;">{{reponse.date | date:'medium'}}</div>
                </div><!-- FIN DIV MEDIA BODY REPONSES  --> 
              </div> <!--  FIN NGFOR REPONSES-->
  
              <!-- Case de reponse à un commentaire -->
              <div class="media mt-4">
                <div class="card my-2 media-body" *ngIf="collapseReponse==com">
                  <h5 class="card-header">Laisser un commentaire : </h5>
                  <div class="card-body">
                    <form #commentaireSecondaireForm="ngForm" (ngSubmit)="onSubmitSecondaire(commentaireSecondaireForm , com)">
                      <div class="form-group">
                        <input class="form-control" name="pseudo" #pseudo="ngModel" [(ngModel)]="commentairePrincipal.pseudo" placeholder="Pseudo" required [disabled]="pseudoDone">
                      </div>
                      <div class="form-group">
                        <textarea id="message" class="form-control" name="message" #message="ngModel" [(ngModel)]="commentaireSecondaire.message" placeholder="Message" rows="3" required></textarea>
                      </div>
                      <div class="form-group">
                        <button class="btn rnpcolor-btn btn-lg" type="submit" [disabled]="!commentaireSecondaireForm.valid">
                          Poster
                        </button>
                      </div>
                    </form>        
                  </div>
                </div>
              </div>
  
            </div>
          </div> <!-- END NG FOR commentaire-->
  
        </div>
  
        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">
  
          <!-- Search Widget -->
          <div class="card mb-4">
            <h5 class="card-header">Recherche</h5>
            <div class="card-body">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Que voulez-vous trouver..">
                <span class="input-group-btn">
                  <button class="btn rnpcolor-btn" type="button">Y aller!</button>
                </span>
              </div>
            </div>
          </div>
  
          <h2 class="mt-5 text-center">Autres thèmes à voir</h2>
  
          <!-- Side Widget: Les autres thèmes du forum -->
            <div *ngFor="let t of TabThemesFireBaseSnap">
              <div class="card my-4" *ngIf="t.id!=themeObjet.id">
                <h5 class="card-header p-0">
                  <img class="img-fluid rounded" [src]="t.urlimg" alt="">
                </h5>
                <div class="card-body" style="font-size: 0.9em;">
                  {{t.description}}
                </div>
                <button class="btn rnpcolor-btn btn-lg" (click)="sendThemeKey(t)">Voir</button>
              </div>
            </div>
  
        </div>
  
      </div>
      <!-- /.row -->
  
    </div>
    <!-- /.container -->