<!-- Image Principale Style jumbotron -->
<br><br>
<div class="carousel-inner">
  <header class="jumbotron my-4 mt-4" style="background-color: #e8551b; color: whitesmoke; height: 350px;">
    <div class="mt-5">
      <h1 class="display-3 text-center title-text">Bibliothèque / Médiathèque</h1>
      <p class="lead text-center">Consultez et téléchargez du contenu multimédia.</p>
    </div>
  </header>
</div>

<!-- Page Content -->
<div class="container">
  <!-- Recherche Widget -->
  <div class="card mb-4">
    <h5 class="card-header">Rechercher</h5>
    <div class="card-body">
      <div class="input-group">
        <input (keyup)="search($event)" type="text" class="form-control" placeholder="Nom du fichier à consulter...">
      </div>
    </div>
  </div>

  <!-- Boutons Choix type de fichier -->
  <div class="row centrer m-4">
    <button type="button" class="btn rnpcolor-btn btn-lg border-rnpcolor m-2" style="width: 180px" (click)="chooseRubrique('')">TOUS </button>
    <button type="button" class="btn rnpcolor-btn btn-lg border-rnpcolor m-2" style="width: 180px" (click)="chooseRubrique('pdf')">PDF </button>
    <button type="button" class="btn rnpcolor-btn btn-lg border-rnpcolor m-2" style="width: 180px" (click)="chooseRubrique('mp4')">VIDEOS</button>
    <button type="button" class="btn rnpcolor-btn btn-lg border-rnpcolor m-2" style="width: 180px" (click)="chooseRubrique('jpg')">IMAGES</button>
    <button type="button" class="btn rnpcolor-btn btn-lg border-rnpcolor m-2" style="width: 180px" (click)="chooseRubrique('ppt')">POWER POINT</button>
  </div>

  <!-- Liste des fichiers affichés -->
  <div class="row">
    
    <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item" *ngFor="let file of fileUploads">
      {{imgtype(file)}}
      <div class="card h-100">
        <a href="{{file.url}}"><img class="card-img-top img-prog p-4" src="{{imgUrl}}" ></a>
        <div class="card-body text-center">
          <h4 class="card-title ">
            <a href="{{file.url}}" class="btn rnpcolor-btn" style=" white-space: initial; font-weight: 500;">{{file.name}}</a>
          </h4>
        </div>
      </div>
    </div>
    
  </div>  <!-- ROW -->

  <!-- A afficher quand il n'y a pas de themes correspondant à la recherche -->
  <div *ngIf="fileUploads?.length < 1">
    <div class="carousel-inner">
      <header class="jumbotron my-4 mt-4" style="background-color: #e8551b; color: whitesmoke; height: 200px;">
        <div class="mt-1">
          <h1 class="display-3 text-center title-text">Pas de résultat</h1>
        </div>
      </header>
    </div>
  </div>

  <!-- Pagination -->
  <!-- <ul class="pagination justify-content-center">
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Précédent</span>
      </a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#">1</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#">2</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#">3</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Suivant">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Suivant</span>
      </a>
    </li>
  </ul> -->

</div>
<!-- /.container -->