.portfolio-item {
    margin-bottom: 30px;
  }

.border-rnpcolor {
  border-width: 10px;
  border-color: #e8551b;  
  border-radius: 25px; 
  border-style: inherit;
}

.img-prog {
  border-width: 10px;
  /* border-color: ;  */
  /* border-radius: 25px;  */
  border-style: inset;
  border-bottom: 5px solid #e8551b;
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
}