<!-- Image Principale Style jumbotron -->
<br><br>
<header class="jumbotron my-4 mt-4" style="background-color: #e8551b; color: whitesmoke; height: 350px;">
  <div class="mt-5">
    <h1 class="display-3 text-center ">PROGRAMMES</h1>
    <p class="lead text-center">Upload des PROGRAMMES</p>
  </div>
</header>

<div class="container">
  <div class="card">
    <div class="card-header">
      Firebase Cloud Storage & Angular 5
    </div>
    <div class="card-body">
      <input type="file" (change)="selectFile($event)" accept=".png,.jpg,.pdf,.ppt" />
      <button class="btn btn-success" [disabled]="!selectedFiles" (click)="upload()">
        Uploader
      </button>
    </div>
    
    <!-- BAR DE PROGRESSION  -->
    <div *ngIf="currentFileUpload" class="progress m-3">
      <div class="progress-bar progress-bar-striped bg-success"
        role="progressbar" attr.aria-valuenow="{{progress.percentage}}"
        aria-valuemin="0" aria-valuemax="100"
        [ngStyle]="{width:progress.percentage+'%'}">
        {{progress.percentage}}%
      </div>
    </div>

    <hr class="featurette-divider" style="margin-top: 106px;">

    <!-- Liste des fichiers -->
    <div class="row">
      <div *ngFor="let file of fileUploads" class="m-1">

        <div class="card text-white mb-3 ml-2" style="max-width: 18rem; width: 300px; height: 300px;">
          <div class="card-header text-center" style="background-color: #e8551b;">  
            <a href="{{file.url}}" style="color: honeydew; font-weight: 500;">{{file.name}}</a>
          </div>
          <div class="card-body">
            <h5 class="card-title">
              <button (click)='deleteFileUpload(file)' class="btn btn-danger btn-lg btn-block" style="float: right">Supprimer</button>
            </h5>
          </div>
        </div>
        
      </div>
    </div>


  </div>
</div>