<!-- Image Principale Style jumbotron -->
<br><br>
<header class="jumbotron my-4 mt-4" style="background-color: #e8551b; color: whitesmoke; height: 350px;">
  <div class="mt-5">
    <h1 class="display-3 text-center ">ADMIN FORUM</h1>
    <p class="lead text-center">Gestion des thèmes</p>
  </div>
</header>

<div class="container">

  <div class="row">

    <div class="col-md-4 col-lg-4">
      <h2 class="mb-5 text-center">Admin Sidebar</h2>

      <button type="button" class="btn rnpcolor-btn btn-lg btn-block mt-4" routerLink="/rnpadmin">Admin Panel</button>
      <button type="button" class="btn rnpcolor-btn btn-lg btn-block mb-4" routerLink="/addtheme">Ajouter un thème</button>

    </div>

    <div class="col-lg-8">
      <!-- <hr class="featurette-divider" style="margin-top: 106px;"> -->

      <!-- Liste des fichiers -->
      <div class="card mb-4" *ngFor="let t of TabThemesFireBaseSnap">
        <!-- {{getKeyFromTemplate(t);}} -->
        <img class="card-img-top" [src]="t.urlimg" alt="Card image cap">
        <div class="card-body">
          <h2 class="card-title">{{t.titre}}</h2>
          <p class="card-text">{{t.description}}</p>
          <a class="btn rnpcolor-btn btn-lg" (click)="sendTheme(t)">Modifier</a>
        </div>
    
      </div>
    </div>  <!-- Col-lg-8-->

  </div>
    
</div>