h1 {
    color: #e8551b;
}

/* Texte principale sur image bannière */
.police-text{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  }

.title-text{
    font-size: 2.5rem;
    font-weight: 600;
}

.subtitle-text{
    font-size: 2.5rem;
    font-weight: 100;
}


/* -------------------------------------------RESPONSIVE TEXT -----------------------------------------*/
@media screen and (min-width: 601px) {
    h1.title-text {
    font-size: 2.5rem;
    }
  }

  /* If the screen size is 600px wide or less, set the font-size of <h1> to 30px */
  @media screen and (max-width: 600px) {
    h1.title-text {
        font-size: 2rem;
    }
  }

  /* Pour les soustitres */
  @media screen and (min-width: 601px) {
    h4.subtitle-text {
    font-size: 2.5rem;
    }
  }

  /* If the screen size is 600px wide or less, set the font-size of <h4> to 30px */
  @media screen and (max-width: 600px) {
    h4.subtitle-text {
        font-size: 1.5rem;
    }
  }

/* --------------------------------- FIN RESPONSIVE TEXT-------------------------------------- */