<!-- CAROUSSEL D'IMAGES -->
<!-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="first-slide photo-brightness-70" src="../assets/img/img_carousel/aids_pills_x.jpg" alt="First slide">
      <div class="container">
        <div class="carousel-caption text-left">
          <h1 class="police-text title-text">RNP</h1>
          <!-- <h4 class="police-text subtitle-text">Réseau National des associations de personnes vivants avec le VIH / SIDA.</h4> -->
          <h4 class="police-text subtitle-text">Le RNP est une instance de coordination, de plaidoyer et de renforcement de capacités</h4>
          <!-- <p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p> -->
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <img class="second-slide photo-brightness-70" src="../assets/img/img_carousel/peps.jpg" alt="Second slide">
      <div class="container">
        <div class="carousel-caption text-right">
          <h1 class="police-text title-text">Une partie de l'équipe.</h1>
          <h4 class="police-text subtitle-text">Des gens qui travaillent ensemble pour l’amélioration de la 
            vie des personnes vivants avec le VIH / SIDA et des groupes vulnérables au VIH au Sénégal.
          </h4>
          <!-- <p> &nbsp;</p> -->
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <img class="third-slide photo-brightness-70" src="../assets/img/img_carousel/adn_x.jpg" alt="Third slide">
      <div class="container">
        <div class="carousel-caption text-right">
          <h1 class="police-text title-text">Virus de l'immunodéficience humaine</h1>
          <h4 class="police-text subtitle-text">Le virus ne se transmet pas par le biais de la salive, de la transpiration ou des larmes.</h4>
          <a class="btn btn-lg rnpcolor-btn" role="button" routerLink="/vih"> Informations </a>
        </div>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Précédent</span>
  </a>
  <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Suivant</span>
  </a>
</div>
  <!-- FIN CAROUSEL!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->