<!--The content below is only a placeholder and can be replaced.-->
<header>
  <nav class="navbar navbar-expand-xl navbar-dark fixed-top bg-light navshadow">
    <a style="margin-right:0px;" class="navbar-brand" href="#"><img src="../assets/img/logo_last_x.png" width="220px" /></a>
    <button #navbarToggler class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon" ></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse" style="padding-left: 50px;">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <div class="dropdown show">
              <a class=" dropdown-toggle nav-link" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Présentation du RNP 
              </a>
            
              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a (click)="goToPage('landing','histo')" class="dropdown-item" routerLink="/landing">Historique</a>
                <a (click)="goToPage('landing','presi')" class="dropdown-item" routerLink="/landing">Présentation</a>
                <a (click)="goToPage('landing','orga')" class="dropdown-item" routerLink="/landing">Organisation</a>
                <a (click)="goToPage('landing','lead')" class="dropdown-item" routerLink="/landing">Leadership</a>
                <a (click)="goToPage('landing','exp')" class="dropdown-item" routerLink="/landing">Expérience</a>
                <!-- <a class="dropdown-item " (click)="scrollToElement(histo)">Historique</a>
                <a class="dropdown-item " (click)="scrollToElement(presi)">Présentation</a>
                <a class="dropdown-item " (click)="scrollToElement(orga)">Organisation</a>
                <a class="dropdown-item " (click)="scrollToElement(lead)">Leadership</a>
                <a class="dropdown-item " (click)="scrollToElement(exp)">Expérience</a> -->
              </div>
            </div>
        </li>
        <li class="nav-item">
          <div class="dropdown show">
            <a class=" dropdown-toggle nav-link" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Informations VIH
            </a>
          
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <a (click)="goToPage('vih','epid')" class="dropdown-item " routerLink="/vih" >Epidémiologie</a>
              <a (click)="goToPage('vih','trans')" class="dropdown-item " routerLink="/vih">Transmission</a>
              <a (click)="goToPage('vih','symp')" class="dropdown-item " routerLink="/vih">Symptômes</a>
              <a (click)="goToPage('vih','trait')" class="dropdown-item " routerLink="/vih" >Traitement</a>
            </div>
          </div>
        </li>
        <li class="nav-item">
          <a (click)="collapseNav()" class="nav-link" routerLink="/programmes" ><span> Programmes </span></a>
        </li>
        <li class="nav-item">
          <a (click)="goToPage('landing','partners')" class="nav-link " routerLink="/landing"> <span class="menu-text"> Partenaires</span> </a>
          <!-- <a class="nav-link " (click)="scrollToElement(partenaires)" > <span class="menu-text"> Partenaires</span> </a> -->
        </li>
        <li class="nav-item">
          <a (click)="collapseNav()" class="nav-link" routerLink="/forum"> <span class="menu-text"> Forum </span> </a>
        </li>
        <li class="nav-item">
          <a (click)="collapseNav()" class="nav-link" routerLink="/biblio"> <span> Bibliothèque/Médiathèque</span> </a>
        </li>
        <li class="nav-item">
          <a (click)="collapseNav()" class="nav-link" routerLink="/soutien"> <span> Nous soutenir</span> </a>
        </li>
        <li class="nav-item">
          <a (click)="goToPage('landing','contact')" class="nav-link " routerLink="/landing"> <span class="menu-text"> Contact</span> </a>
          <!-- <a class="nav-link " (click)="scrollToElement(contact)"> <span class="menu-text"> Contact</span> </a> -->
        </li>
      </ul>
      <!-- <form class="form-inline mt-2 mt-md-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form> -->
    </div>
  </nav>
</header>

<router-outlet></router-outlet>

 <!-- FOOTER -->
 <!-- <footer class="container">
  <p class="float-right"><a href="#">Back to top</a></p>
  <p>&copy; 2018 Waserby, Inc. &middot; Tous droits réservés &middot;</p>
</footer> -->

<footer class="py-5 bg-dark">
  <div class="container">
    <p class="m-0 text-center text-white">Copyright &copy; Waserby 2018</p>
  </div>
</footer>