<!-- Jumbotron Header -->
<br><br>
<div class="carousel-inner">
  <header class="jumbotron my-4 mt-4" style="background-color: #e8551b; color: whitesmoke; height: 350px;">
    <div class="mt-5">
      <h1 class="display-3 text-center title-text">Programmes du RNP</h1>
      <p class="lead text-center">Accédez à nos programmes</p>
    </div>
  </header>
</div>

<!-- Page Content -->
<div class="container">

  <!-- Recherche Widget -->
  <div class="card mb-4">
    <h5 class="card-header">Rechercher</h5>
    <div class="card-body">
      <div class="input-group">
        <input (keyup)="search($event)" type="text" class="form-control" placeholder="Nom du programme à consulter...">
      </div>
    </div>
  </div>

  <!-- Project One -->
  <div class="row mt-4 img-prog pb-4" *ngFor="let file of fileUploads">
    {{imgtype(file)}}
    <div class="col-md-5" >
      <a href="{{file.url}}">
        <img class=" img-fluid rounded mb-3 mb-md-0" src="{{imgUrl}}" alt="" style="width: 250px;">
      </a>
    </div>
    <div class="col-md-7 ">
      <h3>{{file.name}} </h3>
      <p>{{file.description}}</p>
      <a class="btn btn-lg rnpcolor-btn" href="{{file.url}}" style=" white-space: initial; font-weight: 500;">Télécharger
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
    </div>
  </div>
  <!-- /.row -->
  

  <!-- A afficher quand il n'ya pas de themes correspondant à la recherche -->
  <div *ngIf="fileUploads?.length < 1">
      <div class="carousel-inner">
        <header class="jumbotron my-4 mt-4" style="background-color: #e8551b; color: whitesmoke; height: 200px;">
          <div class="mt-1">
            <h1 class="display-3 text-center title-text">Pas de résultat</h1>
          </div>
        </header>
      </div>
    </div>

  <hr>

</div>
<!-- /.container -->