{{themeBuild}}
<form #employeeForm="ngForm" (ngSubmit)="onSubmit(employeeForm)">
    <input type="hidden" name="$key" #$key="ngModel" [(ngModel)]="themeBuild.key">
  <div class="form-group">
    <label>ID</label>
    <input class="form-control" name="id" #id="ngModel" [(ngModel)]="themeBuild.id" placeholder="ID" required>
  </div>
  <div class="form-group">
    <label>Auteur</label>
    <input class="form-control" name="auteur" #auteur="ngModel" [(ngModel)]="themeBuild.auteur" placeholder="Auteur">
  </div>
  <div class="form-group">
    <label>Titre</label>
    <input class="form-control" name="titre" #titre="ngModel" [(ngModel)]="themeBuild.titre" placeholder="Titre">
  </div>
  <div class="form-group">
    <label>Url Image</label>
    <input class="form-control" name="urlimg" #urlimg="ngModel" [(ngModel)]="themeBuild.urlimg" placeholder="Url Image">
  </div>
  <div class="form-group">
    <label>Description</label>
    <input class="form-control" name="description" #office="ngModel" [(ngModel)]="themeBuild.description" placeholder="Description">
  </div>
  <div class="form-group">
    <label>Date de publication</label>
    <div class="input-group">
        <div class="input-group-addon">
          <i class="fa fa-dollar"></i>
        </div>
        <input class="form-control" name="datepost" #datepost="ngModel" [(ngModel)]="themeBuild.datepost" placeholder="Date de Publication">
    </div>
  </div>
  <div class="form-group">
    <button class="btn btn-default" type="submit" [disabled]="!themeForm.valid">
      <i class="fa fa-floppy-o"></i>
       Submit</button>
    <button class="btn btn-default" type="button" (click)="resetForm(themeForm)">
      <i class="fa fa-repeat"></i>
       Reset</button>
  </div>
</form>
