    <!-- Blog Post -->
    <!-- <div class="card mb-4" >
      <div class="card-body">
        <div class="row">
          <div class="col-lg-6">
            <a href="#">
              <img class="img-fluid rounded" [src]="forum.urlimg">
            </a>
          </div>
          <div class="col-lg-6">
            <h2 class="card-title">{{forum.titre}}</h2>
            <p class="card-text">{{forum.description}}</p>
            <a routerLink="/forum" class="btn rnpcolor-btn">Lire Plus &rarr;</a>
          </div>
        </div>
      </div>
      <div class="card-footer text-muted">
        Posté le {{forum.datepost}} par
        <a href="#">{{forum.auteur}}</a>
      </div>
    </div> -->

    
<!-- Jumbotron Header -->
<br><br>
<div class="carousel-inner">
  <header class="jumbotron my-4 mt-4" style="background-color: #e8551b; color: whitesmoke; height: 350px;">
    <div class="mt-5">
      <h1 class="display-3 text-center title-text">Forum du RNP</h1>
      <p class="lead text-center">Lisez et commentez les articles publiés.</p>
    </div>
  </header>
</div>

<!-- Page Content -->
<div class="container">

    <div class="row">

      <!-- Blog Entries Column -->
      <div class="offset-md-1 col-md-10">
      
        <!-- Sidebar Widgets Column -->

          <!-- Search Widget -->
          <div class="card mb-4">
            <h5 class="card-header">Rechercher</h5>
            <div class="card-body">
              <div class="input-group">
                <input type="text" (keyup)="search($event)" class="form-control" placeholder="Que voulez-vous trouver...">
                
                <!-- <span class="input-group-btn">
                  <button class="btn rnpcolor-btn" type="button">Trouver</button>
                </span> -->
              </div>
            </div>
          </div>

          <!-- Side Widget -->
          <!-- <div class="card my-4">
            <h5 class="card-header">Side Widget</h5>
            <div class="card-body">
              You can put anything you want inside of these side widgets. They are easy to use, and feature the new Bootstrap 4 card containers!
            </div>
          </div> -->

        <!-- Blog Post -->
        <div class="card mb-4" *ngFor="let t of TabThemesFireBaseSnap">
          <!-- {{getKeyFromTemplate(t);}} -->
          <img class="card-img-top" [src]="t.urlimg" alt="Card image cap">
          <div class="card-body">
            <h2 class="card-title">{{t.titre}}</h2>
            <p class="card-text">{{t.description}}</p>
            <a class="btn rnpcolor-btn btn-lg" (click)="sendTheme(t)">Lire Plus &rarr;</a>
          </div>
          <div class="card-footer text-muted">
            Posté le {{t.datepost | date:'medium'}} par
            {{t.auteur}}
          </div>
        </div>

        <!-- A afficher quand il n'ya pas de themes correspondant à la recherche -->
        <div *ngIf="TabThemesFireBaseSnap?.length < 1">
          <div class="carousel-inner">
            <header class="jumbotron my-4 mt-4" style="background-color: #e8551b; color: whitesmoke; height: 200px;">
              <div class="mt-0">
                <h1 class="display-3 text-center title-text">Pas de résultat</h1>
              </div>
            </header>
          </div>
        </div>

        <!-- Blog Post -->
        <!-- <div class="card mb-4">
          <img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap">
          <div class="card-body">
            <h2 class="card-title">Post Title</h2>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla? Quos cum ex quis soluta, a laboriosam. Dicta expedita corporis animi vero voluptate voluptatibus possimus, veniam magni quis!</p>
            <a href="#" class="btn btn-primary">Read More &rarr;</a>
          </div>
          <div class="card-footer text-muted">
            Posted on January 1, 2017 by
            <a href="#">Start Bootstrap</a>
          </div>
        </div> -->

        <!-- Pagination -->
        <!-- <ul class="pagination justify-content-center mb-4">
          <li class="page-item">
            <a class="page-link" href="#">&larr; Older</a>
          </li>
          <li class="page-item disabled">
            <a class="page-link" href="#">Newer &rarr;</a>
          </li>
        </ul> -->

      </div>

      

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->