
/* ============================= CSS Presentation Seulement========================= */
    h1 {
        color: #e8551b;
    }

    .navshadow{
        -webkit-box-shadow: 0 8px 6px -6px #999;
        -moz-box-shadow: 0 8px 6px -6px #999;
        box-shadow: 0 8px 6px -6px #999;
        /* the rest of your styling */
    }


    span {
        color: #6c757d;
    }

    span:hover{
        color: #e8551b;
        /* border-bottom-color: #e8551b;
        border-bottom-width: 2px;
        border-top: none;
        border-left:none;
        border-right:none; */

    }

    /* navbar-rnpcolor {
        color: darkorange !important;
        border-color: darkorange !important;
    } */

    .navbar-toggler {
        border-color: #e8551b !important; /* Removes border color */
        background-color: #e8551b !important;
    }

    /* Couleur des items du dropdown préseantation */
    .dropdown-item:active {
        color: #e8551b;
    }

    .dropdown-item:hover{
        color:white; /* Les éléments du dropdown  */
        background-color: #e8551b;
    }
/* ============================= FIN CSS Presentation ========================= */