<!-- Image landing -->     
<div class="carousel-inner">
    <div class="carousel-item active">
      <img class="first-slide photo-brightness-80" src="../assets/img/img_carousel/hands1_x.jpg" alt="First slide">
      <div class="container">
        <div class="carousel-caption text-center ">
          <h1 class="title-text" style="color: #e8551b;">Nous soutenir</h1>
          <h5 class="subtitle-text pb-4">Aidez-nous à les aider</h5>
          <!-- <p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p> -->
        </div>
      </div>
    </div>
  </div>

<!-- Page Content -->
<div class="container" style="margin-top: 130px;">

    <!-- Content Row -->
    <div class="row">
      <!-- Map Column -->
      <div class="col-lg-7 mb-4">
        <!-- Embedded Google Map -->
        <iframe class="presilist-img" width="100%" height="400px" frameborder="2" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?hl=en&amp;ie=UTF8&amp;ll=14.4137,-17.2638&amp;spn=56.506174,79.013672&amp;t=m&amp;z=6&amp;output=embed"></iframe>
      </div>
      <!-- Contact Details Column -->
      <div class="col-lg-5 mb-4">
        <h3>Informations de soutien</h3>
        <strong>Adresse</strong>
        <p>
          Quelque part
          <br>Sénégal, Afrique
          <br>
        </p>

        <p>
          <strong>Email : </strong> 
          <a href="mailto:contact@rnpsenegal.info">contact@rnpsenegal.info
          </a>
        </p>

        <p>
          <strong>Compte bancaire :</strong> SN094 01010 141005438703 63 
        </p>

        <p>
          <strong>Numéro du financier: </strong>  (+221) 77 321 32 53
        </p>

        <img src="../assets/img/paiement/om_x.jpg" class="rounded m-2" alt="Orange Money" style="width: 80px"> 
        <img src="../assets/img/paiement/wari_x.jpg" class="rounded m-2" alt="Wari" style="width: 60px"> 
        <img src="../assets/img/paiement/vitfé_x.jpg" class="rounded m-3" alt="Vitfé" style="width: 60px"> 

      </div>
    </div>
    <!-- /.row -->
    
    <!-- Contact formulaire -->
    <app-ontact-partial ></app-ontact-partial>

  </div>
  <!-- /.container -->