/* You can add global styles to this file, and also import other style files */
/* @import "~@angular/material/prebuilt-themes/deeppurple-amber.css"; */

/* j'importe le fichier scss principal du template angular landing page*/
//@import "styles_foreign_egret/app_alp";

html, body { height: 100%; }
body { margin: 0;
      font-size: 1.25rem;
      font-weight: 300;
      font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"; }


/*------- Home Common -------*/
body.landing {
    .h1, 
    .h2, 
    .h3, 
    .h4, 
    .h5, 
    .h6, 
    h1, 
    h2, 
    h3, 
    h4, 
    h5, 
    h6 {
        margin-bottom: .5rem;
        font-weight: 400;
        line-height: 1.1;
        color: inherit;
    }
    .h1,
    h1 {
        font-size: 2rem;
    }
    .h2, 
    h2 {
        font-size: 1.75rem;
    }
    .h3, 
    h3 {
        font-size: 1.5rem ;
    }
    .h4, 
    h4 {
        font-size: 1.25rem;
    }
    .h5, 
    h5 {
        font-size: 1rem;
    }
    .h6, 
    h6 {
        font-size: .875rem;
    }
    .container {
      max-width: 1170px;
      margin: 0 auto;
      padding: 0 15px;
    }
    .section-header h2 {
      font-size: 32px;
      font-weight: 700;
      margin: 0 0 16px;
    }
    .mat-card {
      .mat-divider {
        position: relative;
      }
    }
  }
  @-webkit-keyframes slideDown {
    0% { top: -60px }
    100% { top: 0px }
  }
  @keyframes slideDown {
    0% { top: -60px }
    100% { top: 0px }
  }
  .section-padding {
    padding: 80px 0;
  }
  
  .home-section {
    padding: 80px 0;
  }
  .home-section mat-card:hover {
    box-shadow: 0 10px 16px rgba(0, 0, 0, 0.2);
  }
  
  .section-header {
    margin: 0 0 2rem;
  }
  
  .section-header h2 {
    font-size: 32px;
    font-weight: 700;
    margin: 0 0 16px;
  }
  .section-header p {
    font-size: 16px;
    max-width: 36rem;
    margin: 0;
  }
  
  .home-section-action {
    padding: 2.5rem 0 0;
  }
  
  [mat-card-icon] {
    font-size: 64px !important;
    height: 64px !important;
    width: 64px !important;
    transition: all .3s ease;
  }
  .home-fancy-card {
    border-top: 2px solid #212121;
    transition: all .3s ease;
  }
  
  .home-fancy-card:hover {
    border-top: 2px solid #e8551b;
  }
  .home-fancy-card:hover [mat-card-icon] {
    color: #e8551b;
  }
  .home-fancy-card .description {
    font-size: 15px;
    color: #616161;
  }
  
  /*------ Carousel -------*/
  .ngucarousel {
    position: relative;
    max-width: 1100px;
    margin: 0 auto;
  }
  .ngucarousel-inner {
    padding: 8px 0 18px;
  }
  .ngucarousel .carousel-left,
  .ngucarousel .carousel-right {
    position: absolute;
    top: calc(50% - 28px);
    background: #ffffff !important;
    color: rgba(0, 0, 0, .87);
  }
  .ngucarousel .carousel-left {
    left: -20px;
  }
  .ngucarousel .carousel-right {
    right: -20px;
  }
  
  //Full width formulaire Contact
  .full-width {
    width: 100% !important;
  }

//---------------------------- CSS GENERALE-----------------------------------------
//Encadrement des images du site
  .presilist-img {
    border-width: 10px;
    border-color: #e8551b;
    border-radius: 25px;
}

.img-prog {
  border-width: 10px;
  /* border-color: ;  */
  /* border-radius: 25px;  */
  border-style: inset;
  border-bottom: 5px solid #e8551b;
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
}
/* dashed  inset outset ridge*/

//Bouton de couleur RNPcolor
.rnpcolor-btn {
  color: #e8551b;
  background-color: whitesmoke;
}

.rnpcolor-btn:hover{
  background-color: #e8551b;
  color: white;
}

//COuleur des texte en gras
.rnpcolor-text{
  font-weight: 400;
  color: #e8551b;
}
/* Ombre sur image (reduire luminosité) */
.photo-brightness-80 {
  filter: brightness(80%);
  -webkit-filter: brightness(80%);
}
/* Ombre sur image (reduire luminosité) */
.photo-brightness-70 {
  filter: brightness(70%);
  -webkit-filter: brightness(70%);
}

//TOUTES LES BALISES <P> AURONT DU TEXTE JUSTIFIE
p{
  text-align: justify;
}



/* -------------------------------------------RESPONSIVE TEXT -----------------------------------------*/
// Ces Regles agissent sur Forum et sur bibliothèque multimédia
@media screen and (min-width: 601px) {
  h1.title-text {
  font-size: 4.5rem;
  }
}

/* If the screen size is 600px wide or less, set the font-size of <h1> to 30px */
@media screen and (max-width: 600px) {
  h1.title-text {
      font-size: 2rem;
  }
}

/* --------------------------------- FIN RESPONSIVE TEXT-------------------------------------- */


//CENTRER n'importe quoi Horizontalement
.centrer {
  display: flex;
  justify-content: center;
  align-items: center;
}