 
    <!-- DONT NEED IT ANYMORE CAUSE all this is inside LANDING PAGE HTML 26/10/2018 FuckOff Alerte Day -->

    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->
    <div class="container marketing">

      <!-- Five columns of text below the carousel -->
      <div class="row">

        <div class="col-lg-4">
          <img class="rounded-circle" src="../assets/img/dots/vision.png" alt="Generic placeholder image" width="140" height="140">
          <h2>Vision</h2>
          <p>Un Sénégal où le sida est totalement éradiqué et où les porteurs du VIH SIDA jouissent pleinement de tous leurs droits humains.</p>
        </div><!-- /.col-lg-4 -->
  
        <div class="col-lg-4">
          <img class="rounded-circle" src="../assets/img/dots/mission.png" alt="Generic placeholder image" width="140" height="140">
          <h2>Mission</h2>
          <p>Contribuer à l’amélioration de la qualité de vie des PVVIH, leur accès universel aux services de prise en charge globale au Sénégal, en Afrique et dans le monde.</p>
        </div><!-- /.col-lg-4 -->
        
        <div class="col-lg-4" >
          <img class="rounded-circle" src="../assets/img/dots/valeur.png" alt="Generic placeholder image" width="140" height="140">
          <h2>Valeur</h2>
          <p>La défense des droits fondamentaux des PVVIH et de leurs familles et des groupes vulnérables,
            l’accès universel aux traitements, le respect de la confidentialité, la solidarité, la bonne gouvernance </p>
        </div><!-- /.col-lg-4 -->
  
      </div><!-- /.row -->
  
      <!-- START THE FEATURETTES -->
  
      <hr class="featurette-divider" style="padding-top:90px;" #histo>
  
      <div class="row featurette ">
        <div class="col-md-7">
          <h2 class="featurette-heading mt-1">Notre historique. <span class="text-muted">Déja 21 ans...</span></h2>
          <p class="lead">
            Le Réseau National des associations de Personnes vivant avec le VIH/Sida (RNP+) a été créé en 1997 sous les cendres de l’Unité d’Accueil, de Conseil et d’Appui à la Formation (espace UACAF) mise en place par un groupe de partenaires techniques et financiers en 1995 pour soutenir les PVVIH au Sénégal. L’organisation est reconnue sous le récépissé n° 15-086 du 25 mai 2011. 
            <br> Initialement, il s’agissait de créer un espace où les PVVIH victimes de stigmatisation et de discrimination, pourraient trouver un réconfort psychologique, une aide sociale et matérielle. Le développement progressif de cet espace de rencontre a abouti en sa transformation en un réseau regroupant, dans un 1er temps, 05 associations de PVVIH dont 04 résidant à Dakar et 01 à Tambacounda.
          </p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-fluid mx-auto presilist-img" style="border-style: inset;" src="../assets/img/presilist/histo_x.jpg" alt="Generic placeholder image">
        </div>
      </div>
  
      <hr class="featurette-divider" style="padding-top:90px;" #presi>
  
      <div class="row featurette" >
        <div class="col-md-7 order-md-2">
          <h2 class="featurette-heading mt-0">Qui sommes-nous ? <span class="text-muted">Une ligue de justiciers...</span></h2>
          <p class="lead">
            Le RNP+ est une organisation qui travaille pour l’amélioration de la qualité de vie des PVVIH et des groupes vulnérables au VIH/SIDA au Sénégal.
            Le RNP+ regroupe 35 associations dont 32 associations de PVVIH, 1 association de Professionnelles du Sexe (PS) et 2 associations de MSM.
            <br><br> L’enjeu de la composition du RNP+ est de promouvoir un environnement favorable pour protéger les groupes vulnérables contre la stigmatisation et les atteintes de leur droits essentiels. 
            <br><br> Le RPNP+ est représenté dans les 14 régions du Sénégal par les associations régionales et au niveau départemental par les associations départementales de PVVIH. Il dispose d’un siège national et de 12 sièges au niveau régional qui servent à la fois de lieu de réunion, mais aussi de lieu d’accueil pour les patients PVVIH. 
          </p>
        </div>
        <div class="col-md-5 order-md-1">
          <img class="featurette-image img-fluid mx-auto presilist-img" style="border-style: ridge" src="../assets/img/presilist/presi_x.png" alt="Generic placeholder image">
        </div>
      </div>
  
      <hr class="featurette-divider" style="padding-top:90px;" #orga>
  
      <div class="row featurette" >
        <div class="col-md-7 ">
          <h2 class="featurette-heading mt-1">Notre organisation. <span class="text-muted">Reine, tours, cavaliers...</span></h2>
          <p class="lead"> <br> Les organes du RNP+ sont :</p>
          <ul type="square">
            <li>L’Assemblée Générale </li> <br>
            <li>Le Conseil d’Administration de 21 membres</li><br>
            <li>Un organe exécutif de 7 membres</li><br>
          </ul> 
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-fluid mx-auto presilist-img"  style="border-style: hidden" src="../assets/img/presilist/orga_x.jpg" alt="Generic placeholder image">
        </div>
      </div>
  
      <hr class="featurette-divider" style="padding-top:90px;" #lead>
  
      <div class="row featurette" >
        <div class="col-md-7 order-md-2">
          <h2 class="featurette-heading mt-0">Leadership. <span class="text-muted">Notre voix compte...</span></h2>
          <p class="lead">
            Le RNP+ est membre de plusieurs organisations nationales et internationales :
          </p>
          <ul type="square">
            <li>Membre du conseil d’administration de l’ANCS </li> <br>
            <li>Membre du comité de suivi-évaluation élargi du CNLS</li><br>
            <li>Membre du RAP+ AO</li><br>
            <li>Membre du comité national sur l’éthique et la recherche</li><br>
            <li>Pool de formateurs sur les techniques de plaidoyers et de communication</li><br>
          </ul>
        </div>
        <div class="col-md-5 order-md-1">
          <img class="featurette-image img-fluid mx-auto presilist-img" style="border-style: outset" src="../assets/img/presilist/lead_x.jpg" alt="Generic placeholder image">
        </div>
      </div>
  
      <hr class="featurette-divider" style="padding-top:90px;" #exp>
  
      <div class="row featurette" >
        <div class="col-md-7">
          <h2 class="featurette-heading mt-1">L'expérience. <span class="text-muted">Elle fait la différence...</span></h2>
          <p class="lead">
              Le RNP+ a acquis une solide expérience en matière de gestion des subventions. Il a bénéficié de plusieurs conventions de partenariat, avec l’ANCS comme SR de la R9 VIH et avec FHI 360 dans le cadre du programme Santé VIH/SIDA et TB de l’USAID 2012-2016.
              <br> <br> Le RNP+ est régulièrement audité par des structures crédibles, ceci conforte la qualité des systèmes de gestion du RNP+ et la disponibilité des ressources humaines.
              <br> <br> Le RNP+ contribue activement à la réalisation des 90-90-90 à travers ses compétences et son expertise. Il a capitalisé des acquis importants dans la mise œuvre des programmes avec des partenaires de haut vol. 
          </p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-fluid mx-auto presilist-img" style="border-style: inset;" src="../assets/img/presilist/exp_x.jpg" alt="Generic placeholder image">
        </div>
      </div>  
  </div>
<!-- CONTAINER END -->
  