<section id="service-section" class="service-section home-section pt-0" [ngClass]="{'light-gray': backgroundGray}">
  <div class="text-center"> 
    <span class="text-muted mx-auto "><h1 class="mb-5 presilist-img pt-3 pb-3" style="border-style: outset;">Nos partenaires </h1></span>      
  <!-- CAROUSSEL -->
  <ngu-carousel [inputs]="carouselOptions">
    <ngu-item NguCarouselItem *ngFor="let s of partners">
      <mat-card class="home-fancy-card">
          <div fxLayout="column">
            <div class="text-center">
              <!-- <mat-icon mat-card-icon>{{s.icon}}</mat-icon> -->
              <img [src]="s.imgurl" alt="" width="250">
            </div>
            <span fxFlex="20px"></span>
            <!-- <h3 class="m-0 font-light">{{s.title}}</h3> -->
            <span fxFlex="20px"></span>
            <!-- <p class="m-0 description">
              {{s.text}}
            </p> -->
            <span fxFlex="40px"></span>
            <!-- <div>
              <button mat-button><strong class="text-muted">READ MORE</strong></button>
            </div> -->
          </div>
        </mat-card>
    </ngu-item>
    
    <button mat-fab NguCarouselPrev class='carousel-left'><mat-icon>keyboard_arrow_left</mat-icon></button>
    <button mat-fab NguCarouselNext class='carousel-right'><mat-icon>keyboard_arrow_right</mat-icon></button>
  </ngu-carousel>
  </div>
</section>
